@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

body {
    background: radial-gradient(circle at center, #2d0f4b, #0d0318);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* Container central */
.login-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card */
.login-card {
    background: rgba(30, 10, 50, 0.9);
    padding: 40px;
    border-radius: 20px;
    width: 350px;
    text-align: center;
    box-shadow: 0 0 30px rgba(150, 0, 255, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}

/* Logo e título */
.logo-area {
    margin-bottom: 30px;
}
.logo {
    width: 60px;
    height: 60px;
    margin: 0 auto 10px;
    background: linear-gradient(145deg, #6b00d6, #8c00ff);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    color: #fff;
    box-shadow: 0 0 30px rgba(140, 0, 255, 0.7);
}
.logo img{
    height: 290px;
}
.logo-area h1 {
    color: #fff;
    letter-spacing: 2px;
    font-size: 22px;
    margin-top: 20px;
}
.logo-area span {
    font-size: 26px;
    color: #a561ff;
}

/* Formulário */
.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form label {
    text-align: left;
    color: #c9aaff;
    font-size: 12px;
}

.form input {
    padding: 10px;
    border: none;
    border-radius: 8px;
    outline: none;
    background: #2b1a4d;
    color: #fff;
    transition: 0.3s;
}

.form input:focus {
    box-shadow: 0 0 10px #8c00ff;
}

.btn-login {
    background: linear-gradient(90deg, #6b00d6, #a561ff);
    border: none;
    color: #fff;
    padding: 12px;
    border-radius: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-login:hover {
    box-shadow: 0 0 15px #8c00ff;
    transform: scale(1.05);
}

/* Links */
.links {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.links a {
    font-size: 12px;
    color: #c9aaff;
    text-decoration: none;
    transition: 0.3s;
}

.links a:hover {
    color: #fff;
}

/* Divisor */
.divider {
    margin: 25px 0 10px;
    color: #aaa;
    font-size: 12px;
}

/* Ícones sociais */
.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.icon {
    width: 35px;
    height: 35px;
    background: #2b1a4d;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(140, 0, 255, 0.4);
    transition: 0.3s;
}

.icon:hover {
    background: #8c00ff;
    transform: translateY(-3px);
}

/* Mensagem de sucesso */
.success-msg {
    background: rgba(0, 255, 0, 0.1);
    color: #00ff88;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}
